---
import { getCollection, type CollectionEntry } from "astro:content";
import MiLayout from "../../layouts/MiLayout.astro";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
---

<MiLayout title="Mi Blog de tecnologia">
    <h1>Mi blog</h1>
    <ul>
    { posts.map((post) => <li>
        <a href={`/blog/${post?.slug}`}>{post.data.title}</a>
    </li> )
    }
    </ul>
</MiLayout>
