---
//js -> Esto solo se ejecuta cuando hago el build del servidor
import MiLayout from '../layouts/MiLayout.astro';
import Layout from '../layouts/MiLayout.astro';
---

<!--html -->
<MiLayout title="Saludo">
<h1>Hola mundo</h1>
<p>Esta es mi primera pagina js</p>
</MiLayout>
<script>
    //Js -> Esto se ejecuta en el cliente
</script>