---
import MiLayout2 from "../layouts/MiLayout2.astro";
---

<MiLayout2>
    <h1 class="bg-blue-200 text-blue-900 text-3xl rounded-3xl hover:bg-blue-500">Saludos desde Tailwind</h1>
    <p>Hola</p>
</MiLayout2>
