		<nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/saludo">Saluda</a></li>
                <li><a href="/teachers">Teachers SSG</a></li>
                <li><a href="/teachers2">Teachers CSR</a></li>
                <li><a href="/tecnologias">Tecnologias</a></li>
                <li><a href="/tailwind">Tailwind</a></li>
                <li><a href="/flowbite">Flowbite</a></li>
                <li><a href="/users/">Users (SSR)</a></li>
                <li><a href="/tiempo">Tiempo</a></li>
                <li><a href="/posts/">Post (SSG)</a></li>
                <li><a href="/api/v1/hora">API-V1-Hora</a></li>
                <li><a href="/blog">Blog MD</a></li>
            </ul>
        </nav>

        <style>
            nav {
                display: flex;
                gap: 8px;
            }

            nav ul {
                display: flex;
                gap: 8px;
            }

            li {
                list-style: none;
            }

            nav a{
                color: black;
                text-decoration: none;
                transition: all 1s;
            }

            nav a:hover{
                color: blue;
            }
        </style>