---
//SSG (static) No necesita nada, lo puede subir a github pages
//CSR (cliente) No necesita nada, lo ejecuta el cliente
//---> SSR (Servidor) Necesito un servidor que sepa ejecutar Node (aws, google cloud, vercel, netlify...)
// Lo bueno que tiene es que los nuevos cambios en la web se ven al momento, pero lo malo es que hago una nueva llamada a la API cada vez que alguien entra en la web
// Estamos usando SSR por que lo hemos decidido en el astro.config.mjs
import MiLayout from "../../layouts/MiLayout.astro";

interface Address {
    street: string;
}

interface User {
    name: string;
    email: string;
    username: string;
    address: Address;
}

const { id } = Astro.params;
const response = await fetch(
    "https://jsonplaceholder.typicode.com/users/" + id,
);
const user = await response.json();
---

<MiLayout>
    <h1>Datos del usuario</h1>
    <p>Nombre: {user.name}</p>
    <p>Email: {user.email}</p>
    <p>Username: {user.username}</p>
    <p>Ciudad: {user.address?.street}</p>
</MiLayout>